

.theme-button {
    border-radius: 8px;
    font-size: 14px;
    padding: 1px;
    background: $primary;
    &.gradient {
        background: $button-gradient;
    }
    .wrap {
        border-radius: 6px;
        padding: 5px 14px;
    }
    a {
        text-decoration: none;
    }
}