[dragscroll] {
    position: relative;
    &::-webkit-scrollbar {
        pointer-events: none;
        width: 1px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: transparent;
    }

    &:hover {
        // &::-webkit-scrollbar {
        //     width: 5px;
        //     pointer-events: none;
        // }
        // &::-webkit-scrollbar-track {
        //     background: $color-paper;
        // }
        // &::-webkit-scrollbar-thumb {
        //     background: $color-light-grey;
        // }
        // &::-webkit-scrollbar-thumb:hover {
        //     background: $color-light-grey;
        // }
    }
    
    overflow: auto;
    
    // [dragwrap] {}
}