
.page-header-top {
    .cities {
        font-size: 11px;
        font-weight: 400;
    }
    .email {
        text-decoration: none;
        font-size: 14px;
        &:hover {
            text-decoration:underline;
        }
    }
    .phone {
        @extend .email;
        font-size: 16px;
    }
    
}
.page-header-bottom {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
    .hamburger {
        cursor: pointer;
    }
    .logo {
        img {
            max-width: 100%;
        }
    }
}