
html {
    font-size: 14px;
}
.page-content  {
    min-height: 40vh;
    // overflow-x: hidden;
}
.page-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.1;
}
.page-title-description {
    font-size: 16px;
    color: $color-secondary-grey;
}
@include media-breakpoint-down(xl) {
    
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}