

.page-reviews {
    
    .left {
        color: $color-secondary-grey;
        position: sticky;
        top: 110px;
    }
    .reviews-dir-text {
        font: italic 500 15px/1.5 $fmain;
    }
    .reviews-dir-sign {
        font: 500 12px/1.5 $fmain;
    }
    .review-create {
        display: inline-block;
        font: 500 14px/1.5 $fmain;
        background: $color-secondary-grey;
        a {
            padding: 14px 20px;
            color: white;
            text-decoration: none;
            display: inline-block;
        }
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(var(--bs-style-secondary-grey-rgb), 0.4);
        &:hover {
            box-shadow: 0 3px 6px rgba(var(--bs-style-some-green-rgb), 0.4);
            background: $gradient-green-ltr;
        }
    }
    .reviews-dir-instruct {
        font: 500 12px/1.5 $fmain;        
    }
    .reviews-more {
        display: inline-block;
        font: 500 14px/1.5 $fmain;
        padding: 14px 18px 13px;
        background: $color-lightest;
        border-radius: 10px;
        a {
            color: #198CFF;
            text-decoration: none;
        }
    }
    .reviews-title {
        .reviews-title-text {
            font: 700 24px/1.5 $fmain;
        }
        .reviews-title-tag {
            margin-bottom: 15px;
            display: inline-block;
            font: 600 13px/1.1 $fmain;
            color: $color-lightest;
            background: $color-secondary-grey;
            padding: 5px 6px;
            border-radius: 6px;
            position: relative;
            &::after {
                position: absolute;
                content: '';
                height: 7px;
                width: 7px;
                background: url('../img/zagogulina.svg') no-repeat left top;
                left: 10px;
                bottom: -7px;
            }
        }
    }
}

.reviews-item {
    .reviews-item-top {
        align-items: center;
        margin-bottom: 20px;
    }
    .reviews-item-wrapper {
        padding: 28px 42px;
        border-radius: 16px;
        background: $color-lightest;
    }
    .reviews-item-user {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    .reviews-item-ava {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        background: $color-lightest;
        border-radius: 50px;
        img {
            display: block;
            width: 32px;
            height: 32px;
            object-fit: cover;
        }
    }
    .reviews-item-user-text {
        padding-left: 20px;
    }
    .reviews-item-name {
        font: 600 16px/1.5 $fmain;
        display: inline-block;
    }
    .reviews-item-date {
        font: 600 12px/1.5 $fmain;
        display: inline-block;
    }
    .reviews-item-address {
        font: 400 12px/1.5 $fmain;
        color: $color-secondary-grey;
    }
    .reviews-item-project {
        
    }
    .reviews-item-project-title {
        font: 400 12px/1.5 $fmain;
        color: $color-secondary-grey;
    }
    .reviews-item-project-text {
        font: 600 14px/1.5 $fmain;
        text-decoration: underline;
    }
    .review-item-text {
        font: 400 15px/1.5 $fmain;
        color: $color-secondary-grey;
        line-height: 1.5;
    }
    .review-item-answer-title {
        font: 600 14px/1.1 $fmain;
        margin-bottom: 10px;
    }
    .review-item-answer-text {
        font: 400 15px/1.1 $fmain;
        color: $color-secondary-grey;
        line-height: 1.5;       
    }

}
.reviews-item-photo-slider {
    position: relative;
    .reviews-item-photo-slider-items {
        width: 100%;
        display: flex;
        overflow: hidden;
        .reviews-item-photo-slider-item {
            padding-right: 20px;
            width: 148px;
            height: 80px; 
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
           
        }
    }
    .reviews-item-photo-slider-nav {
        z-index: 10;
        display: flex;
        position: absolute;
        inset: 0 -12px;
        pointer-events: none;
        align-items: center;
        justify-content: space-between;
        > div {
            width: 24px;
            height: 24px;
            border-radius: 50px;
            background: white url('../img/arr.svg') no-repeat center center;
            pointer-events: all;
            cursor: pointer;
        }
        .reviews-item-photo-slider-prev {
            transform: rotate(90deg);
        }
        .reviews-item-photo-slider-next {
            transform: rotate(-90deg);
        }
    }
}