.popular {

    .title {
        font-size: 40px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: -0.03em;
    }
    .description {
        font-size: 16px;
        line-height: 24px;
    }
    
    .tags {
        position: sticky;
        top: 90px;
        overflow: hidden;
        background: white;
        padding-top: 20px;
        padding-bottom: 0;
        z-index: 1;
        .items {
            display: flex;
        }
        .item {
            color: $color-secondary-grey;
            text-decoration: none;
            font-size: 14px;
            line-height: 1;
            text-wrap: nowrap;
            padding: 10px 20px;
            border-radius: 8px;
            border: 1px solid $color-secondary-grey;
            margin-right: 10px;
            display: inline-block;
            margin-bottom: 20px;
            &.selected {
                background: $color-secondary-grey;
                color: white;
                box-shadow: 0 2px 5px #44554754;
                pointer-events: none;
            }
            transition: 0.3s;
            &:hover:not(.selected) {
                background: $color-lighter;
                border-color: $color-lighter;
                color: $color-secondary-grey;
            }
        }
    }

    .popular-item {
        .photo {
            position: relative;
            aspect-ratio: 7 / 4;
            img {
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
                // z-index: 2;
                border-radius: 10px;
                opacity: 1;
                transition: opacity 0.3s;
                &:nth-child(2) {
                    opacity: 0;
                }
            }
        }
        &:hover .photo img {
            &:nth-child(1) {
                opacity: 0;
            }
            &:nth-child(2) {
                opacity: 1;
            }
        }
        .data {
            padding: 29px 24px;
            background: #fafafa;
            border-radius: 0 0 4px 4px;
        }
        
        .about-title {
            color: $color-grey;
            opacity: 0.5;
            font-size: 11px;
            text-transform: uppercase;
        }
        .title {
            font-size: 21px;
            line-height: 1.2;
            font-weight: 600;
        }
        .area {
            font-size: 13px;
            font-weight: 700;
            background: white;
            padding: 3px 8px 2px;
            border-radius: 20px;
        }
        .description {
            font-size: 15px;
            color: $color-secondary-grey;
            line-height: 1.4;
        }
        .characteristics {
            .ch-title {
                font-size: 12px;
                color: $color-secondary-grey;
            }
            .ch-data {
                font-size: 14px;
                font-weight: 700;
            }
        }

        .characteristics-mobile {
            font-size: 13px;
            line-height: 1.2;
        }

        .buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .view {
                font-size: 14px;
                font-weight: 600;
                color: $color-secondary-grey;
                border: 1px solid $color-secondary-grey;
                border-radius: 10px;
                text-decoration: none;
                padding: 9px 15px;
                transition: background-color 0.3s;
                &:hover {
                    box-shadow: 0 3px 6px rgba(var(--bs-style-primary-green-rgb), 0.4);
                    background: $color-primary-green2;
                    color: white;
                }
            }
            .price {
                font-size: 18px;
                font-weight: 300;

            }
        }
        &:hover {
            .data {
                background: $color-lightest;
            }
        }
    }
    .popular-percent {
        .metric {
            display: inline-block;
            margin: 16px 0 21px;
            height: 3px;
            width: 200px;
            background: #676E6840;
            .value {
                height: 3px;
                background: $gradient-green;
            }
        }
    }
    .get-more {
        text-align: center;
        div {
            display: inline-block;
            color: $color-grey;
            border: 1px solid $color-grey;
            padding: 9px 50px;
            font-size: 13px;
            border-radius: 10px;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

@include media-breakpoint-down(xl) {
    .popular {
        .title {
            font-size: 32px;
            line-height: 38px;
            letter-spacing: -0.03em;
        }
    }
}

@include media-breakpoint-down(md) {
    .popular {
        .title {
            font-size: 32px;
            line-height: 36px;
            letter-spacing: -0.03em;
        }
        
        .popular-item {
            .data {
                padding: 19px 14px;
            }
            .title {
                font-size: 16px;
            }
            .buttons {
                align-items: flex-start;
            }
        }
    }
}