

$body-bg: #ffffff;
$gradient-green: linear-gradient(0deg, #296C02, #6E9D01);
$gradient-green-ltr: linear-gradient(90deg, #296C02, #6E9D01);
$gradient-green-hover: linear-gradient(90deg, #40a505, #6E9D01);
$button-gradient: $gradient-green;
$button-gradient-ltr: $gradient-green-ltr;

$color-some-green: #4D8501;
$color-ice: #f5f5f5;
$color-dust: #F3F3F3;
$color-grey: #676E68;
$color-secondary-grey: #445547;
$color-light-grey: #B3B7B4;
$color-primary-green: #283B2B;
$color-primary-green2: #1D5525;
$color-light: #DFE2DF;
$color-lighter: #E1E9E2;
$color-lightest: #F1F6F2;
$color-star: #ffd500;
$color-star-hovered: #ffb300;



$pros-slider-title: #6E9D01;
$pros-slider-text: #646464;

$color-paper: #F8f8f8;

$custom-colors: (
  "style-green-darkest": $color-primary-green,
  "style-primary-green": $color-primary-green,
  "style-green-dark": #1D5525,
  "style-green-medium": #445547,
  "style-grey": $color-grey,
  "style-secondary-grey": $color-secondary-grey,
  "style-light-grey": $color-light-grey,
  "style-light": $color-light,
  "style-lighter": $color-lighter,
  "style-lightest": $color-lightest,
  "style-ice": $color-ice,
  "style-some-green": $color-some-green,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$nav-link-font-weight: 600;
$navbar-dark-color: $white;
$navbar-dark-active-color: $primary;
$navbar-dark-hover-color: $primary;
$navbar-nav-link-padding-x: 1rem;
$dropdown-padding-x: 0;
$dropdown-padding-y: 0;
$dropdown-item-padding-y: 1rem;
$dropdown-link-color: $primary;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;
$dropdown-border-width: 0em;
$dropdown-border-radius: 0em;
$dropdown-inner-border-radius: 0rem;
$dropdown-divider-margin-y: 0rem;
$border-radius: 0.5rem;
$breadcrumb-divider: quote("»");

// Основной шрифт
$font-family-sans-serif: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$fmain: $font-family-sans-serif;
